@import 'tailwindcss';

.tab-body {
    @apply bg-zinc-800 text-white text-sm min-w-96 w-full h-full;
}

.tab-title {
    @apply bg-zinc-700 text-white text-sm w-full h-6 flex items-center px-2 space-x-2;
}

.entity {
    @apply bg-zinc-600 text-white text-sm;
}

.dropzone-body {
    @apply bg-zinc-800 max-w-96 min-w-1 h-full flex-none flex flex-col relative
}

.log-log {
    color: white;
}

.log-success {
    color: greenyellow;
}

.log-warning {
    color: orange;
}

.log-error {
  color: red;
}