/* time-controller.css */
.btn {
    width: fit-content;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    font-weight: light;
    cursor: pointer;
  }
  
  .btn:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
    transition: all 0.2s ease;
  }  
  
  .btn--time-controller {
    background-color: #555555;
    color: white;
  }

  .btn--actived {
    box-shadow: 0 0 8px #c0125a99;
    transform: scale(1.05);
  }